@import "../../Global.scss";

.header-container {
  @include GlobalCenter;

  border-bottom: 1px solid #000;
  margin-bottom: 30px;

  .header-box {
    @include GlobalCenter;

    width: 960px;
    height: 120px;

    .header-title {
      @include GlobalCenter;

      width: 100vw;
      height: 70px;
      font-weight: bold;

      border-bottom: 1px solid #000;

      h1 {
        cursor: pointer;
      }
    }

    .header-nav-box {
      display: flex;
      justify-content: space-around;
      justify-self: center;
      align-items: center;

      font-size: 14px;

      width: 100%;
      height: 50px;

      transition: transform 1s ease;

      .header-home {
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }

      .header-menu1 {
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }

      .header-menu2 {
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }

      .header-menu3 {
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }

      .header-login {
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
