
.header-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  border-bottom: 1px solid #000;

  margin-bottom: 30px;

  .header-box {


    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    width: 960px;
    height: 120px;

    .header-title {
      width: 100vw;
      height: 70px;
      font-weight: bold;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      border-bottom: 1px solid #000;

      h1{
        cursor: pointer;
      }

    }
  
    .header-nav-box {
      font-size: 14px;
    
      width: 100%;
      height: 50px;

      display: flex;
      justify-content: space-around;
      justify-self: center;
      align-items: center;

      transition: transform 1s ease;
      
        .header-home {
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }

        }

        .header-menu1 {
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }

        .header-menu2 {
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }

        .header-menu3 {
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }

        .header-login {
          cursor: pointer;
          
          &:hover {
            transform: scale(1.2);
          }
        }

    }

  }

}