@import "../../Global.scss";

.album-container {
  @include GlobalCenter;

  border: 1px solid #000;

  width: 300px;

  height: 400px;

  margin: 25px 9px;

  border-radius: 20px;
  font-size: 14px;

  transition: transform 0.5s ease;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px rgba(15, 15, 30, 0.8);

  &:hover {
    box-shadow: 2px 2px 4px 2px rgba(50, 50, 80, 0.8);
    transform: scale(1.01);
  }

  .album-picture {
    @include GlobalCenter;

    width: 250px;
    height: 200px;
    margin-top: 15px;
    border-radius: 20px;

    background-size: cover;
    background-position: center center;
  }

  .album-title {
    @include GlobalCenter;

    width: 250px;
    height: 50px;

    font-size: 16px;
    font-weight: bold;
  }

  .album-content {
    @include GlobalCenter;

    border: 1px solid #000;

    width: 250px;
    height: 80px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .album-sub-box {
    width: 250px;

    @include GlobalCenter;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;

    .album-like {
      cursor: pointer;
      height: 100%;
      @include GlobalCenter;

      font-size: 20px;
    }

    .album-replycount {
      height: 100%;
      @include GlobalCenter;

      font-size: 20px;
      padding-right: 100px;
    }

    .album-date {
      height: 100%;
      @include GlobalCenter;
    }
  }
}
